
body{
  font-family: helvetica;
  text-align: center;
}
h1{
  font-size: 70px;
  text-align: center;
}
h2{
  font-size: 32px;
}
h1, h2, h3{
  font-weight: bold;
}
p{
  font-size: 14px;
}
a{
  font-size: 18px;
  color:white;
}

#header, #designSectionHeader{
  color:white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

#footer{
  background-color: dimgray;
  text-align: left;
}
#copyright{
  font-size: 11px;
}
